@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-display: "sans-serif";
    src: url("/fonts/CrimsonPro.ttf") format("truetype");
  }

  html {
    font-family: "Crimson Pro";
    line-height: 200%;
    font-display: "sans-serif";
    color: white;
  }

  article>h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1.5rem;
  }

  article>h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.2rem;
  }

  article>p {
    padding: 0.5rem 0;
  }

  ol {
    list-style: normal;
    margin: 1.1rem 0;
    padding-left: 1.5rem;
  }

  p>a {
    color: #090606;
    text-decoration: underline;
  }

  p>img {
    padding: 1.5rem 0;
  }
}