{{ partial "nav.html" . }}
<div
    class="flex flex-row items-center justify-end w-full h-96 bg-labrador-300 bg-[url('/images/bg_header.webp')] bg-no-repeat bg-cover text-4xl lg:text-6xl font-medium overflow-hidden">
    <img src="/images/labrador.webp" class="w-auto h-full" />
    <div class="w-3/5 p-2 lg:p-10">
        <h3 class="w-full text-lab text-gray-100 leading-snug">{{ i18n "slogan" }}</h3>
        <a href="/{{ .Lang }}/categories">
            <button
                class="w-60 h-12 my-10 text-gray-100 bg-labrador-600 shadow-md shadow-labrador-800/60 hover:shadow-labrador-800 text-2xl font-light rounded-full hover:scale-105">{{
                i18n
                "more" }}</button>
        </a>
    </div>
</div>