<article class="list-container {{ if mod .index 2 }}bg-labrador-150{{ end}}">
    <div class="flex-none w-full lg:w-64 h-64 rounded-2xl shadow-lg shadow-labrador-300 hover:shadow-labrador-8000">
        {{ $image := partial "imagextractor.html" . }}
        <img src="{{ $image }}" alt="Article Pic" class="w-full h-64 rounded-2xl object-cover" />
    </div>
    <div class="w-full lg:p-5 overflow-auto">
        <h3
            class="lg:pt-0 line-clamp-2 text-3xl text-center lg:text-start font-medium leading-snug text-labrador-txt-900 hover:text-labrador-600">
            <a href="{{ .context.RelPermalink }}">
                {{ .context.LinkTitle }}
            </a>
        </h3>
        <div class="flex flex-row items-center justify-start text-xl">
            {{ if gt .context.PublishDate 0 }}
            <time datetime="2025-03-16" class="text-labrador-300">{{ .context.PublishDate.Format "2006-01-02 15:04"
                }}
                |
                {{ .context.ReadingTime }} minute read</time>
            {{ end }}
        </div>
        <div class="line-clamp-3 text-2xl font-light leading-8 lg:leading-9 text-labrador-txt-500">{{ .context.Summary
            }}
        </div>
    </div>
</article>